/* ==========================
  BASE STYLING
  ========================== */


  body{
  font-family: 'Montserrat', sans-serif;
  background: white; 
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: darkcyan;
}

a:hover {
  color: #52bab3;
}

img {
  border-style: solid;
  border-color: gray;
  
}

#coaching:hover {
  border-color: gray;

}

img:hover {
  border-color: hotpink;
}



p {
  text-align: center;
}

.intro p {
  margin: 0;
  padding: 1em;
}



/* ==========================
  HEADER STYLING
  ========================== */

header {
  background: #F8F8F8;
}

h1 {
  text-align: center;
}

header p {
  text-align: center;
}

ul {
  list-style-type: none;
}

.self-photo {
 border: solid;
 border-color: gray;
 border-radius: 50%;
}

.main-nav {
  padding: 0 1em;
}


.main-nav a   {
  display: inline-block;
  text-align: center;
  background-color: white;
  width: 100%;
  margin: .2em 0;
  padding: .2em;
}



.main-nav ul {
  padding: 0;
}


.main-header img {
  align-self: center;
}

.self-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.name-nav {
  overflow: auto;
}


/* =========================
  PORTFOLIO STYLING
  =========================== */
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.portfolio-wrapper h2{
  text-align: center;
  PADDING-TOP: 1em;
}
.portfolio-wrapper h3 {
  text-align: center;
}

.portfolio-wrapper img {
  width: 100%;
}

#portfolio {
  background-color: lightblue;
  display: flex;
  align-items: flex-start;
  
  
}



/* =========================
  SLIDESHOW STYLING
  =========================== */
.slideshow-container {
display:flex;
flex-direction: column;
  max-width: 700px;
  
  
}

#portfolio h2 {
  padding-top: 10em;
  display: inline;
}

.mySlides {
  display: none;
height: 400px;

   
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8)
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 15px;
padding-bottom: 12px;
position: absolute;
  bottom: 10;
  width: 100%;
  text-align: center;
  background-color: teal;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}




/* =========================
  EXPERIENCE STYLING
  =========================== */
  .exp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    
  }
  .exp-wrapper h2{
    text-align: center;
    PADDING-TOP: 1em;
  }
  .exp-wrapper h3 {
    text-align: center;
  }
  
  .exp-wrapper img {
    width: 100%;
  }

  #experience {
    background-color: lightblue;
    padding-top: 10em;
  }

/* =========================
 CONTACT STYLING
  =========================== */
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper h2 {
  text-align: center;
}

.color-text {
  color: blueviolet;
  font-style: italic;
}






   /* ========================
    FOOTER STYLING
    ======================= */
footer, #contact {
  background: #F8F8F8;
}
.footer-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.footer-nav {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* ========================
    MEDIA QUERIES
======================= */

/* Tablet */
@media (min-width: 768px) {
  /* HEADER STYLING */

  header {
    margin: 0;
  }
  h1 {
    text-align: center;
    font-size: 4em;
  }

  h2{
    margin: auto;
  }

  .nav {
    display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
    margin-left: 0em;
    padding: 0em;
    
   }

   .nav a {
     background-color: transparent;
   }
/* =========================
  INTRO STYLING
  =========================== */
  .intro{
    padding: 1em; 
  }

  .intro P{
    text-align: justify;
    padding-right: 12em;
  }

  .self-photo{
    float: right;
    width: 25%;
    height: auto;
    margin-right: 0em;
  }

  
    /* PORTFOLIO STYLING */

    .portfolio-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }
  
    .portfolio-wrapper div {
      display: inline-block;
      width: 46.5%;
      padding: 1.5%;
    }

    .photo-gallery p {
      font-size: 17.49px;
    }

       /* EXPERIENCE STYLING */
       .exp-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
       }
      .exp-wrapper div {
        display: inline-block;
        width: 46.5%;
        padding: 1.5%;
      }

    /* CONTACT STYLING */

    h2 {
      padding: 1em;
    }
    .contact-nav li a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* FOOTER STYLING */
    .top {
      display: none;
    }

    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-nav ul {
      display: flex;
    }

    .footer-nav a {
      padding: .2em;
    }

  }







/* Desktop */
@media (min-width: 1024px) { 

  header {
    margin: 0;
  }

  h1 {
    text-align: left;
    font-size: 2.5em;
    width: 50%;
    margin-left: 10%;
  }

  h2{
    margin: auto;
  }

  .name-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .name-nav h1 {
    margin-left: .1em;
  }

  .name-nav nav {
      margin-top: 1em;
      margin-right: 1em;
  }

  .nav {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-left: 20%;
   padding-top: 1em;
   }

   .nav a {
     background-color: transparent;
   }
  
/* =========================
  INTRO STYLING
  =========================== */
  .intro{
    padding: 2em; 
  }

  .intro P{
    text-align: left;
    padding-right: 15em;
    padding-left: 1em;
    font-size: 30px;
  }

  .self-photo{
    float: right;
    width: 30%;
    height: auto;
  }
   
  
    /* PORTFOLIO STYLING */
   

    #portfolio {
      margin-top: 0;
    }
  
    .portfolio-wrapper div {
      display: inline-block;
      width: 30%;
      padding: 1.4%;
    }